<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KryskataFund</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KryskataFund.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <header class="nav">
            <div class="nav-left">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-badge">
                    <div class="brand-icon"></div>
                    <div>
                        <div class="brand-text-main">KryskataFund</div>
                        <div class="brand-text-sub">crowdfunding made simple.</div>
                    </div>
                </a>

                <nav class="nav-links">
                    <div class="nav-link nav-link--active">
                        Discover
                        <span class="nav-tag">Live</span>
                    </div>
                    <div class="nav-link">Categories</div>
                    <div class="nav-link">Success wall</div>
                    <div class="nav-link">How it works</div>
                </nav>
            </div>

            <div class="nav-right">
                <div class="nav-cta">
                    <div class="nav-pill">
                        <span class="nav-pill-dot"></span>
                        192 people browsing campaigns
                    </div>
                    <button class="btn-ghost">Sign in</button>
                    <button class="btn-primary">Make my fund</button>
                </div>
            </div>
        </header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - KryskataFund - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
